/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";

@theme {
    --font-poppins: "Zalando Sans", sans-serif;
}


.img-group {
    scroll-behavior: smooth;
    animation: scroll 35s linear infinite;
}

.client-group {
    scroll-behavior: smooth;
    animation: scroll 80s linear infinite;
}

#client-track::after {
    height: 100%;
    width: 10em;
    content: "";
    flex-shrink: 0;
    background-color: white;
    position: absolute;
    right: -100px;
    border-radius: 100px;
    top: 0;
    opacity: 0.8;
    filter: blur(5px);
}

#client-track::before {
    height: 100%;
    width: 10em;
    content: "";
    flex-shrink: 0;
    background-color: white;
    position: absolute;
    left: -100px;
    border-radius: 100px;
    top: 0;
    opacity: 0.9;
    filter: blur(10px);
    z-index: 10;
}

#scroll-track:hover .img-group {
    animation-play-state: paused;
}

.img-group img {
    flex: 0 0 5em;
}

.client-group img {
    flex: 0 0 5em;
}

.tab-btn {
    height: 5em;
    opacity: 0.6;
    cursor: pointer;
}

.tab-btn:hover {
    opacity: 1;
}

.tab-btn.active {
    background-color: #f7f7f7;
    padding: 0.5em 2em;
    border-radius: 1em;
    opacity: 1;
}

#tab-content img {
    @apply md:w-[90%] w-full mx-auto rounded-[1em] shadow-md;
}

@keyframes scroll {
    from {
        translate: 0;
    }

    to {
        translate: -100%;
    }
}